laba12/forex3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="information" type="InformationType"/>

<xs:complexType name="InformationType">
<xs:sequence>
<xs:element name="dorama" type="TopicType" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TopicType">
<xs:sequence>
<xs:element name="year" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>

</xs:schema>
